@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin waveUp {
  clip-path: polygon(
    14.285% 96%,
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    99.995% 96%,
    85.71% 100%,
    71.425% 96%,
    57.14% 100%,
    42.855% 96%,
    28.57% 100%
  );
  -webkit-clip-path: polygon(
    14.285% 96%,
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    99.995% 96%,
    85.71% 100%,
    71.425% 96%,
    57.14% 100%,
    42.855% 96%,
    28.57% 100%
  );
}

@mixin waveDown {
  clip-path: polygon(
    14.285% 100%,
    0 96%,
    0 0,
    100% 0,
    100% 96%,
    99.995% 100%,
    85.71% 96%,
    71.425% 100%,
    57.14% 96%,
    42.855% 100%,
    28.57% 96%
  );
  -webkit-clip-path: polygon(
    14.285% 100%,
    0 96%,
    0 0,
    100% 0,
    100% 96%,
    99.995% 100%,
    85.71% 96%,
    71.425% 100%,
    57.14% 96%,
    42.855% 100%,
    28.57% 96%
  );
}
